.App {
    text-align: center;
    font-size: 13px;
}

.section {
    margin: 0 5%;
}

.section {
    margin: 0 5%;
}

.section.Main {
    width: 40%;
    border: solid black 1px;
    border-radius: 25px;
    margin: 30px 10px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.button {
    background-color: bisque;
    margin-right: 2px;
    font-size: 13px;
}

.rowDiv {
    margin: 5px;
}
.rowDiv .label {
    font-weight: bold;
    padding-right: 5px;
}

.rowDiv input {
}

a {
    text-decoration: none;
}